.main__image img{
    max-width: 100%;
}
.description__block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile__block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile__button{
    max-width: 150px;
}
.mainPhoto{
    max-width: 200px;
}
.contact{
    padding-left: 10px;
}